bcrypt==3.2.0
beautifulsoup4==4.11.1
cffi==1.15.0
click==8.0.3
editdistance==0.6.0
Flask==2.0.2
Flask-JWT-Extended==4.3.1
Flask-SQLAlchemy==2.5.1
google==3.0.0
greenlet==1.1.2
gunicorn==20.1.0
itsdangerous==2.0.1
jellyfish==0.8.9
Jinja2==3.0.3
MarkupSafe==2.0.1
passlib==1.7.4
phonetics==1.0.5
pycparser==2.21
PyJWT==2.3.0
python-dotenv==0.19.2
six==1.16.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.29
Werkzeug==2.0.2
bcrypt==3.2.0
beautifulsoup4==4.11.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.3
editdistance==0.6.0
Flask==2.0.2
Flask-JWT-Extended==4.3.1
Flask-SQLAlchemy==2.5.1
google==3.0.0
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
itsdangerous==2.0.1
jellyfish==0.8.9
Jinja2==3.0.3
lxml==4.9.1
MarkupSafe==2.0.1
passlib==1.7.4
phonetics==1.0.5
pycparser==2.21
PyJWT==2.3.0
python-dotenv==0.19.2
requests==2.27.1
six==1.16.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.29
urllib3==1.26.9
Werkzeug==2.0.2
